<div class="wrapper ">

  <div class="sidebar" data-color="rose" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo"> <a  class="simple-text logo-mini">
      EW
    </a>

      <a class="simple-text logo-normal">
        Expertos de la Web
      </a></div>

    <div class="sidebar-wrapper">

      <div class="user">
        <div class="photo">
          <img src="../assets/img/faces/marc.jpg">
        </div>
        <div class="user-info">
          <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                      Propuesta
                      <b class="caret"></b>
                    </span>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLink ="/profile" >
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal"> Perfil </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="nav">

        <li class="nav-item active ">
          <a class="nav-link" >
            <i class="material-icons">dashboard</i>
            <p> Dashboard </p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
            <i class="material-icons">account_balance</i>
            <p> Bancos
              <b class="caret"></b>
            </p>
          </a>

          <div class="collapse" id="componentsExamples">
            <ul class="nav">
              <li class="nav-item ">
                <a class="nav-link" routerLink ="/bank/register">
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal"> Registrar </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" >
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal" routerLink ="/bank/Import"> Importar datos </span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" href="#tablesExamples">
            <i class="material-icons">equalizer</i>
            <p> Reportes
              <b class="caret"></b>
            </p>
          </a>

          <div class="collapse" id="tablesExamples">
            <ul class="nav">
              <li class="nav-item ">
                <a class="nav-link">
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal"> Por Analista </span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
            <i class="material-icons">lock_outline</i>
            <p> Seguidad
              <b class="caret"></b>
            </p>
          </a>

          <div class="collapse" id="mapsExamples">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link"  routerLink ="/security/user">
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal"> Usuarios </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink ="/security/rol">
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal"> Roles </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink ="/security/permission">
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal">Permisos </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="/security/vigilance">
                  <i class="material-icons">control_camera</i>
                  <span class="sidebar-normal">Seguimientos</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="material-icons">person</i>
            <span class="sidebar-normal">
              Salir
            </span>
          </a>
        </li>
      </ul>


    </div>
  </div>


  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
      <div class="container-fluid">
        <div class="navbar-wrapper">


          <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
              <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
              <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
            </button>
          </div>


          <a class="navbar-brand" >Seguridad/Seguimientos</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">


          <form class="navbar-form">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link">
                <i class="material-icons">Home</i>
                <p class="d-lg-none d-md-block">
                  Stats
                </p>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p class="d-lg-none d-md-block">
                  Some Actions
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item">Mike John responded to your email</a>
                <a class="dropdown-item" >You have 5 new tasks</a>
                <a class="dropdown-item" >You're now friend with Andrew</a>
                <a class="dropdown-item" >Another Notification</a>
                <a class="dropdown-item" >Another One</a>
              </div>
            </li>

          </ul>





        </div>
      </div>
    </nav>
    <!-- End Navbar -->




    <div class="content">

















      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title ">Historial</h4>
                </div>
                <div class="card-body">
                  <div style=" width: auto; overflow-x: auto; ">
                    <div style="width:auto;">
                      <div class="table-responsive">

                        <table class="table">
                          <thead class="text-primary">
                          <tr>
                            <th>
                              Usuario
                            </th>
                            <th>
                              Tipo de operaciòn
                            </th>
                            <th>Modulo

                            </th>
                            <th>
                              Fecha de registro
                            </th>

                          </tr></thead>
                          <tbody>
                          <tr>
                            <td>
                              Dakota Rice
                            </td>
                            <td>
                             Login
                            </td>
                            <td>
                             Acceso
                            </td>
                            <td>
                              18/10/2018
                            </td>

                          </tr>

                          <tr>
                            <td>
                              Minerva Hooper
                            </td>
                            <td>
                              Login
                            </td>
                            <td>
                              Acceso
                            </td>
                            <td>
                              18/10/2018
                            </td>

                          </tr>
                          <tr>
                            <td>
                              Minerva Hooper
                            </td>
                            <td>
                              Registrar Banco
                            </td>
                            <td>
                              Banco
                            </td>
                            <td>
                              18/10/2018
                            </td>

                          </tr>
                          <tr>
                            <td>
                              Minerva Hooper
                            </td>
                            <td>
                              Salir del sistema
                            </td>
                            <td>
                              Exit
                            </td>
                            <td>
                              18/10/2018
                            </td>

                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer class="footer" >
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a>
                Expertos de la Web
              </a>
            </li>
            <li>
              <a >
                About Us
              </a>
            </li>
            <li>
              <a >
                Blog
              </a>
            </li>
            <li>
              <a >
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
              document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a  target="_blank">Expertos de la Web</a> for a better web.
        </div>
      </div>
    </footer>


  </div>

</div>

<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
    <a href="#" data-toggle="dropdown">
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
      <li class="header-title"> Sidebar Filters</li>
      <li class="adjustments-line">
        <a href="javascript:void(0)" class="switch-trigger active-color">
          <div class="badge-colors ml-auto mr-auto">
            <span class="badge filter badge-purple" data-color="purple"></span>
            <span class="badge filter badge-azure" data-color="azure"></span>
            <span class="badge filter badge-green" data-color="green"></span>
            <span class="badge filter badge-warning" data-color="orange"></span>
            <span class="badge filter badge-danger" data-color="danger"></span>
            <span class="badge filter badge-rose active" data-color="rose"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>


      <li class="header-title">Sidebar Background</li>
      <li class="adjustments-line">
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="ml-auto mr-auto">
            <span class="badge filter badge-black active" data-background-color="black"></span>
            <span class="badge filter badge-white" data-background-color="white"></span>
            <span class="badge filter badge-red" data-background-color="red"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>

      <li class="adjustments-line">
        <a href="javascript:void(0)" class="switch-trigger">
          <p>Sidebar Mini</p>
          <label class="ml-auto">
            <div class="togglebutton switch-sidebar-mini">
              <label>
                <input type="checkbox">
                <span class="toggle"></span>
              </label>
            </div>
          </label>
          <div class="clearfix"></div>
        </a>
      </li>

      <li class="adjustments-line">
        <a href="javascript:void(0)" class="switch-trigger">
          <p>Sidebar Images</p>
          <label class="switch-mini ml-auto">
            <div class="togglebutton switch-sidebar-image">
              <label>
                <input type="checkbox" checked="">
                <span class="toggle"></span>
              </label>
            </div>
          </label>
          <div class="clearfix"></div>
        </a>
      </li>

      <li class="header-title">Images</li>

      <li class="active">
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img src="../assets/img/sidebar-1.jpg" alt="">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img src="../assets/img/sidebar-2.jpg" alt="">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img src="../assets/img/sidebar-3.jpg" alt="">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img src="../assets/img/sidebar-4.jpg" alt="">
        </a>
      </li>


      <li class="button-container">
        <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-rose btn-block btn-fill">Buy Now</a>
        <a href="https://demos.creative-tim.com/material-dashboard-pro/docs/2.0/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">
          Documentation
        </a>
        <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank" class="btn btn-info btn-block">
          Get Free Demo!
        </a>
      </li>



      <li class="button-container github-star">
        <a class="github-button" href="https://github.com/creativetimofficial/ct-material-dashboard-pro" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
      </li>
      <li class="header-title">Thank you for 95 shares!</li>

      <li class="button-container text-center">
        <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
        <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
        <br>
        <br>
      </li>
    </ul>
  </div>
</div>